<button class="btn btn-outline">Regular</button>
<button class="btn btn-success-outline">Success-Outline</button>
<button class="btn btn-info-outline">Info</button>
<button class="btn btn-warning-outline">Warning</button>
<button class="btn btn-danger-outline">Danger</button>
<button class="btn btn-outline" disabled>Disabled</button>
<br />
<button class="btn btn-sm">Regular</button>
<button class="btn btn-primary btn-sm">Primary</button>
<button class="btn btn-success btn-sm">Success</button>
<button class="btn btn-info btn-sm">Info</button>
<button class="btn btn-warning btn-sm">Warning</button>
<button class="btn btn-danger btn-sm">Danger</button>
<button class="btn btn-sm" disabled>Disabled</button>
<br />
<button class="btn btn-primary btn-block">Primary</button>
<br />
<button class="btn btn-link">Flat Regular</button>
<button class="btn btn-link" disabled>Flat Disabled</button>
<br />
<button type="button" class="btn btn-icon" aria-label="home">
  <clr-icon shape="home"></clr-icon>
</button>
<button type="button" class="btn btn-icon btn-primary" aria-label="settings">
  <clr-icon shape="cog"></clr-icon>
</button>
<button type="button" class="btn btn-icon btn-warning" aria-label="warning">
  <clr-icon shape="warning-standard"></clr-icon>
</button>
<button type="button" class="btn btn-icon btn-danger" aria-label="error">
  <clr-icon shape="error-standard"></clr-icon>
</button>
<button type="button" class="btn btn-icon btn-success" aria-label="done">
  <clr-icon shape="check"></clr-icon>
</button>
<button type="button" class="btn btn-icon" disabled aria-label="home">
  <clr-icon shape="home"></clr-icon>
</button>
