<div class="card-columns">
  <div class="card">
    <div class="card-img">
      <img src="https://unsplash.com/photos/FZrn8fhqpp8" />
    </div>
    <div class="card-block">
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur
        pariatur iusto necessitatibus officia? Iure inventore magni deleniti at
        nemo sed unde est sint provident magnam quasi, porro dignissimos dolorum
        et!
      </p>
    </div>
  </div>
  <div class="card card-block">
    <h3 class="card-title">Title</h3>
    <p class="card-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae molestiae
      minima totam voluptate magnam reprehenderit aperiam est sed blanditiis.
      Sunt maxime ratione asperiores perspiciatis aliquid reiciendis similique
      tempora perferendis odit?
    </p>
  </div>
  <div class="card">
    <div class="card-block">
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur
        pariatur iusto necessitatibus officia? Iure inventore magni deleniti at
        nemo sed unde est sint provident magnam quasi, porro dignissimos dolorum
        et!
      </p>
    </div>
    <div class="card-img">
      <img src="https://unsplash.com/photos/FZrn8fhqpp8" />
    </div>
    <div class="card-block">
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur
        pariatur iusto necessitatibus officia? Iure inventore magni deleniti at
        nemo sed unde est sint provident magnam quasi, porro dignissimos dolorum
        et!
      </p>
    </div>
  </div>
  <div class="card card-block">
    <h3 class="card-title">Title</h3>
    <p class="card-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae molestiae
      minima totam voluptate magnam reprehenderit aperiam est sed blanditiis.
      Sunt maxime ratione asperiores perspiciatis aliquid reiciendis similique
      tempora perferendis odit?
    </p>
  </div>
  <div href="..." class="card">
    <div class="card-block">
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur
        pariatur iusto necessitatibus officia? Iure inventore magni deleniti at
        nemo sed unde est sint provident magnam quasi, porro dignissimos dolorum
        et!
      </p>
    </div>
    <div class="card-img">
      <img src="https://unsplash.com/photos/FZrn8fhqpp8" />
    </div>
  </div>
  <div class="card card-block">
    <h3 class="card-title">Title</h3>
    <p class="card-text">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis beatae
      repellendus culpa delectus reprehenderit maxime, consectetur accusantium
      libero tempore, aspernatur neque, quis quasi praesentium? Ea fugit commodi
      incidunt sequi voluptas.
    </p>
  </div>
  <div class="card">
    <div class="card-block">
      <h3 class="card-title">Title</h3>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur
        pariatur iusto necessitatibus officia? Iure inventore magni deleniti at
        nemo sed unde est sint provident magnam quasi, porro dignissimos dolorum
        et!
      </p>
    </div>
    <div class="card-footer">
      <a href="..." class="btn btn-primary">Action</a>
    </div>
  </div>
  <a href="..." class="card clickable">
    <div class="card-block">
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur
        pariatur iusto necessitatibus officia? Iure inventore magni deleniti at
        nemo sed unde est sint provident magnam quasi, porro dignissimos dolorum
        et!
      </p>
    </div>
    <div class="card-img">
      <img src="https://unsplash.com/photos/FZrn8fhqpp8" />
    </div>
  </a>
</div>
